body {
  background: #eee;
  font-family: sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
}

.card {
  width: 420px;
  background: #fff;
  margin: 16px auto;
  padding: 14px;
}

.title,
.content{
  margin-bottom: 15px;
}
.title,
.content,
.button-container {
  padding: 14px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 12px 24px;
  margin: 0 auto;
}